export OPAL_AUTH_TOKEN=Token for testing locally with dev_overrides
export OPAL_TEST_TOKEN=Token used for running acceptance tests
export OPAL_TEST_KNOWN_USER_ID_1=A user ID in the test org
export OPAL_TEST_KNOWN_USER_ID_2=Another user ID in the test org
export OPAL_TEST_BASE_URL=The url of your Opal installation to test with.
export OPAL_TEST_KNOWN_CUSTOM_APP_ID=App ID for a custom app in the test org
export OPAL_TEST_KNOWN_CUSTOM_APP_ADMIN_OWNER_ID=Owner ID for the owner of OPAL_TEST_KNOWN_CUSTOM_APP_ID
export OPAL_TEST_KNOWN_REQUEST_TEMPLATE_ID=Request Template ID in the test org
export OPAL_TEST_KNOWN_GITHUB_APP_ID=App ID for a github app connection set up in the test org
export OPAL_TEST_KNOWN_GITHUB_APP_METADATA='{"git_hub_repo"={"org_name"="example-org", "repo_name"="example-repo"}}'
export OPAL_TEST_KNOWN_GITHUB_APP_REMOTE_RESOURCE_ID=example-org/example-repo
