.env
.env.local
**/.speakeasy/temp/
**/.speakeasy/logs/
.terraform
.terraform*
*.tfstate*
.DS_Store
bin/
testing/terraform.tfstate*
# Used for development tf files
dev/
.envrc.local
.envrc.prod
.idea
.vscode/launch.json
.speakeasy/temp
demo/*
