openapi: 3.1.0
info:
  contact:
    email: hello@opal.dev
    name: Opal Team
    url: https://www.opal.dev/
  description: Your Home For Developer Resources.
  title: Opal API
  version: "1.0"
servers:
  - description: Production
    url: https://api.opal.dev/v1
    x-speakeasy-server-id: prod
paths:
  /apps:
    get:
      description: Returns a list of `App` objects.
      operationId: getApps
      parameters:
        - description: A list of app types to filter by.
          example:
            - OKTA_DIRECTORY
            - GIT_HUB
          explode: false
          in: query
          name: app_type_filter
          required: false
          schema:
            items:
              $ref: "#/components/schemas/AppTypeEnum"
            type: array
          style: form
        - description: An owner ID to filter by.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          explode: true
          in: query
          name: owner_filter
          required: false
          schema:
            format: uuid
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppsList"
          description: A list of apps for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - apps
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Apps#get
  /apps/{app_id}:
    get:
      description: Returns an `App` object.
      operationId: getAppID
      parameters:
        - description: The ID of the app.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: path
          name: app_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: The requested `App`.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - apps
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: App#get
  /configuration-templates:
    get:
      description: Returns a list of `ConfigurationTemplate` objects.
      operationId: getConfigurationTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedConfigurationTemplateList"
          description: One page worth of configuration templates for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - configuration-templates
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: ConfigurationTemplateList#get
    post:
      description: Creates a configuration template.
      operationId: createConfigurationTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigurationTemplateInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationTemplate"
          description: The configuration template just created.
      security:
        - BearerAuth: []
      tags:
        - configuration-templates
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: ConfigurationTemplate#create
    put:
      description: Update a configuration template.
      operationId: updateConfigurationTemplate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationTemplate"
          description: The configuration template just updated.
      requestBody:
        description: Configuration template to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigurationTemplateInfo"
      security:
        - BearerAuth: []
      tags:
        - configuration-templates
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation: ConfigurationTemplate#update
  /configuration-templates/{configuration_template_id}:
    delete:
      description: Deletes a configuration template.
      operationId: deleteConfigurationTemplate
      parameters:
        - description: The ID of the configuration template.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: configuration_template_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: The configuration template was successfully deleted.
      security:
        - BearerAuth: []
      tags:
        - configuration-templates
      x-speakeasy-name-override: delete
      x-speakeasy-entity-operation: ConfigurationTemplate#delete
  /events:
    get:
      description: Returns a list of `Event` objects.
      operationId: getEvents
      parameters:
        - description: A start date filter for the events.
          examples:
            withDate:
              summary: Example with date
              value: 2021-11-01
            withDatetime:
              summary: Example with date and time
              value: 2021-11-01 12:00:00
          explode: true
          in: query
          name: start_date_filter
          required: false
          schema:
            type: string
          style: form
        - description: An end date filter for the events.
          examples:
            withDate:
              summary: Example with date
              value: 2021-11-12
            withDatetime:
              summary: Example with date and time
              value: 2021-11-12 12:00:00
          explode: true
          in: query
          name: end_date_filter
          required: false
          schema:
            type: string
          style: form
        - description: An actor filter for the events. Supply the ID of the actor.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          explode: true
          in: query
          name: actor_filter
          required: false
          schema:
            format: uuid
            type: string
          style: form
        - description: An object filter for the events. Supply the ID of the object.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          explode: true
          in: query
          name: object_filter
          required: false
          schema:
            format: uuid
            type: string
          style: form
        - description: An event type filter for the events.
          example: USER_MFA_RESET
          explode: true
          in: query
          name: event_type_filter
          required: false
          schema:
            type: string
          style: form
        - description: An API filter for the events. Supply the name and preview of the API token.
          example: fullaccess:**************************M_g==
          explode: true
          in: query
          name: api_token_filter
          required: false
          schema:
            type: string
          style: form
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEventList"
          description: One page worth of events with the appropriate filters applied.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - events
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Events#get
  /groups:
    get:
      description: Returns a list of groups for your organization.
      operationId: getGroups
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
          x-speakeasy-ignore: true
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
        - description: The group type to filter by.
          example: OPAL_GROUP
          explode: true
          in: query
          name: group_type_filter
          required: false
          schema:
            $ref: "#/components/schemas/GroupTypeEnum"
          style: form
        - description: The group ids to filter by.
          example:
            - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
            - 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: query
          name: group_ids
          required: false
          schema:
            items:
              example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
              format: uuid
              type: string
            type: array
          style: form
        - description: Group name.
          example: example-name
          explode: true
          in: query
          name: group_name
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGroupsList"
          description: One page worth groups associated with your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: list
      x-speakeasy-entity-operation:
        - Group_list#read
    put:
      description: Bulk updates a list of groups.
      operationId: updateGroups
      requestBody:
        description: Groups to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInfoList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateGroupInfoList"
          description: The resulting updated group infos.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation:
        - Group#create#2
        - Group#update
    post:
      description: Creates a group. See [here](https://docs.opal.dev/reference/end-system-objects) for details about importing groups.
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The group just created.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: Group#create
  /groups/{group_id}:
    get:
      description: Returns a `Group` object.
      operationId: getGroup
      parameters:
        - description: The ID of the group.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The requested `Group`.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-entity-operation: Group#read
    delete:
      description: Deletes a group.
      operationId: deleteGroup
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          description: The group was successfully deleted.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: delete
      x-speakeasy-entity-operation: Group#delete
  /groups/{group_id}/message-channels:
    get:
      description: Gets the list of audit and reviewer message channels attached to a group.
      operationId: getGroupMessageChannels
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/MessageChannelList"
                  - x-speakeasy-wrapped-attribute: "message_channels"
                  - x-speakeasy-param-suppress-computed-diff: true
          description: The audit and reviewer message channels attached to the group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_message_channels
      x-speakeasy-entity-operation: Group#read#2
    put:
      description: Sets the list of audit message channels attached to a group.
      operationId: updateGroupMessageChannels
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageChannelIDList"
      responses:
        "200":
          content:
            application/json:
              x-speakeasy-ignore: true
          description: The updated audit message channel IDs for the group.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update_message_channels
      x-speakeasy-entity-operation:
        - Group#create#3
        - Group#update#2
  /groups/{group_id}/on-call-schedules:
    get:
      description: Gets the list of on call schedules attached to a group.
      operationId: getGroupOnCallSchedules
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/OnCallScheduleList"
                  - x-speakeasy-wrapped-attribute: "oncall_schedules"
                  - x-speakeasy-param-suppress-computed-diff: true
          description: The on call schedules attached to the group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_on_call_schedule
      x-speakeasy-entity-operation: Group#read#3
    put:
      description: Sets the list of on call schedules attached to a group.
      operationId: updateGroupOnCallSchedules
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OnCallScheduleIDList"
      responses:
        "200":
          content:
            application/json:
              x-speakeasy-ignore: true
          description: The updated on call schedule IDs for the group.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update_on_call_schedule
      x-speakeasy-entity-operation:
        - Group#create#4
        - Group#update#3
  /groups/{group_id}/resources:
    get:
      description: Gets the list of resources that the group gives access to.
      operationId: getGroupResources
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResourceList"
          description: The resources that the group gives access to to.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_resources
      x-speakeasy-entity-operation: GroupResourceList#get
    put:
      description: Sets the list of resources that the group gives access to.
      operationId: updateGroupResources
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupResourcesInfo"
      responses:
        "200":
          description: The group resource were successfully set.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update_resources
      x-speakeasy-entity-operation: GroupResourceList#create,update
  /groups/{group_id}/resources/{resource_id}:
    post:
      description: Adds a resource to a group.
      operationId: createGroupResources
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
          example: arn:aws:iam::590304332660:role/AdministratorAccess
          explode: true
          in: query
          name: access_level_remote_id
          required: false
          schema:
            type: string
          style: form
          deprecated: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
                duration_minutes: 60
              properties:
                access_level_remote_id:
                  description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
                  example: arn:aws:iam::590304332660:role/AdministratorAccess
                  type: string
                duration_minutes:
                  description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                  maximum: 525960 # One year
                  minimum: 0
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResource"
          description: The created `GroupResource` object.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: create_resources
  /groups/{group_id}/visibility:
    get:
      description: Gets the visibility of this group.
      operationId: getGroupVisibility
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_visibility
      x-speakeasy-entity-operation: Group#read#4
    put:
      description: Sets the visibility of this group.
      operationId: updateGroupVisibility
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisibilityInfo"
      responses:
        "200":
          content:
            application/json:
              x-speakeasy-ignore: true
          description: The visibility info of this group.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update_visibility
      x-speakeasy-entity-operation:
        - Group#create#5
        - Group#update#4
  /groups/{group_id}/reviewers:
    get:
      deprecated: true
      description: Gets the list of owner IDs of the reviewers for a group.
      operationId: getGroupReviewers
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The IDs of owners that are reviewers for this group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-ignore: true
    put:
      deprecated: true
      description: Sets the list of reviewers for a group.
      operationId: updateGroupReviewers
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerIDList"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated IDs of owners that are reviewers for this group
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-ignore: true
  /groups/{group_id}/reviewer-stages:
    get:
      description: Gets the list of reviewer stages for a group.
      operationId: getGroupReviewersStages
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
                x-speakeasy-entity: GroupReviewersStagesList
          description: The reviewer stages for this group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_reviewers_stages
      x-speakeasy-entity-operation: GroupReviewersStagesList#get
    put:
      description: Sets the list of reviewer stages for a group.
      operationId: updateGroupReviewersStages
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerStageList"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
          description: The updated reviewer stages for this group.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: update_reviewers_stages
      x-speakeasy-entity-operation: GroupsReviewersStages#update
  /groups/{group_id}/tags:
    get:
      description: Returns all tags applied to the group.
      operationId: getGroupTags
      parameters:
        - description: The ID of the group whose tags to return.
          name: group_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsList"
          description: The tags applied to the group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_tags
      x-speakeasy-entity-operation: GroupTags#get
  /groups/{group_id}/users:
    get:
      description: Gets the list of users for this group.
      operationId: getGroupUsers
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUserList"
          description: List of users with access to this group.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: get_users
      x-speakeasy-entity-operation: GroupUsers#get
  /groups/{group_id}/users/{user_id}:
    post:
      description: Adds a user to this group.
      operationId: createGroupUser
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the user to add.
          example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
          example: arn:aws:iam::590304332660:role/AdministratorAccess
          explode: true
          in: query
          name: access_level_remote_id
          required: false
          schema:
            type: string
          style: form
          deprecated: true
          x-speakeasy-ignore: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                duration_minutes: 60
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
              properties:
                duration_minutes:
                  description: Must be set to 0. Any nonzerovalue in terraform does not make sense.
                  example: 0
                  type: integer
                  enum: [0]
                  default: 0
                access_level_remote_id:
                  description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
                  example: arn:aws:iam::590304332660:role/AdministratorAccess
                  type: string
              required:
                - duration_minutes
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUser"
          description: The GroupUser that was created.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: create_user
      x-speakeasy-entity-operation: GroupUser#create
    delete:
      description: Removes a user's access from this group.
      operationId: deleteGroupUser
      parameters:
        - description: The ID of the group.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of a user to remove from this group.
          example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: This user's access was successfully removed from this group.
      security:
        - BearerAuth: []
      tags:
        - groups
      x-speakeasy-name-override: delete_user
      x-speakeasy-entity-operation: GroupUser#delete
  /group-bindings:
    get:
      description: Returns a list of `GroupBinding` objects.
      operationId: getGroupBindings
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGroupBindingsList"
          description: One page worth of group bindings for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - group-bindings
    post:
      description: Creates a group binding.
      operationId: createGroupBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupBindingInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupBinding"
          description: The group binding just created.
      security:
        - BearerAuth: []
      tags:
        - group-bindings
    put:
      description: Bulk updates a list of group bindings.
      operationId: updateGroupBindings
      requestBody:
        description: Group bindings to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupBindingInfoList"
      responses:
        "200":
          description: The group bindings were successfully updated.
      security:
        - BearerAuth: []
      tags:
        - group-bindings
  /group-bindings/{group_binding_id}:
    get:
      description: Returns a `GroupBinding` object.
      operationId: getGroupBinding
      parameters:
        - description: The ID of the group binding.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: path
          name: group_binding_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupBinding"
          description: The requested `GroupBinding`.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - group-bindings
    delete:
      description: Deletes a group binding.
      operationId: deleteGroupBinding
      parameters:
        - description: The ID of the group binding.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: group_binding_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: The group binding was successfully deleted.
      security:
        - BearerAuth: []
      tags:
        - group-bindings
  /owners:
    get:
      description: Returns a list of `Owner` objects.
      operationId: getOwners
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
        - description: Owner name to filter by.
          example: 200
          explode: true
          in: query
          name: name
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedOwnersList"
          description: One page worth of owners in your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Owners#get
    post:
      description: Creates an owner.
      operationId: createOwner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOwnerInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner just created.
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: Owner#create
    put:
      description: Bulk updates a list of owners.
      operationId: updateOwners
      requestBody:
        description: Owners to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOwnerInfoList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOwnerInfoList"
          description: The resulting updated owner infos.
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation: Owner#update
  /owners/{owner_id}:
    get:
      description: Returns an `Owner` object.
      operationId: getOwnerID
      parameters:
        - description: The ID of the owner.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: path
          name: owner_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner object associated with the passed-in ID.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: Owner#get
    delete:
      description: Deletes an owner.
      operationId: deleteOwner
      parameters:
        - description: The ID of the owner.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: owner_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          description: The owner was successfully deleted.
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: delete
      x-speakeasy-entity-operation: Owner#delete
  /owners/name/{owner_name}:
    get:
      description: Returns an `Owner` object. Does not support owners with `/` in their name, use /owners?name=... instead.
      operationId: getOwnerFromName
      parameters:
        - description: The name of the owner.
          example: MyOwner
          explode: true
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner object associated with the passed-in name.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: get_from_name
      x-speakeasy-entity-operation: OwnerFromName#get
  /owners/{owner_id}/users:
    put:
      description: Sets the list of users for this owner. If escalation is enabled, the order of this list is the escalation priority order of the users. If the owner has a source group, adding or removing users from this list won't be possible.
      operationId: update_owner_users
      parameters:
        - description: The ID of the owner.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: owner_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserIDList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: The updated users for the owner.
          x-speakeasy-entity: Owner
      security:
        - BearerAuth: []
      tags:
        - owners
      x-speakeasy-name-override: update_users
      x-speakeasy-entity-operation: Owner#update#2
  /requests:
    get:
      description: Returns a list of requests for your organization that is visible by the admin.
      operationId: getRequests
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
        - description: Boolean toggle for if it should only show pending requests.
          explode: true
          in: query
          name: show_pending_only
          required: false
          schema:
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestList"
          description: The list of requests.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - requests
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Requests#get
    post:
      description: "Create an access request"
      operationId: "createRequest" # TODO amruth confirm naming
      requestBody:
        description: Resources to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequestInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    format: uuid
                    type: string
                    example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          description: The resulting request.
      security:
        - BearerAuth: []
      tags:
        - requests
  /resources:
    get:
      description: Returns a list of resources for your organization.
      operationId: getResources
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
        - description: The resource type to filter by.
          example: AWS_IAM_ROLE
          explode: true
          in: query
          name: resource_type_filter
          required: false
          schema:
            $ref: "#/components/schemas/ResourceTypeEnum"
          style: form
        - description: The resource ids to filter by.
          example:
            - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
            - 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: query
          name: resource_ids
          required: false
          schema:
            items:
              example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
              format: uuid
              type: string
            type: array
          style: form
        - description: Resource name.
          example: example-name
          explode: true
          in: query
          name: resource_name
          required: false
          schema:
            type: string
          style: form
        - description: The parent resource id to filter by.
          example:
            - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: query
          name: parent_resource_id
          required: false
          schema:
            format: uuid
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResourcesList"
          description: One page worth resources associated with your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Resources_list#get
    put:
      description: Bulk updates a list of resources.
      operationId: updateResources
      requestBody:
        description: Resources to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateResourceInfoList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateResourceInfoList"
          description: The resulting updated resource infos.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation:
        - Resource#update
        - Resource#create#2
    post:
      description: Creates a resource. See [here](https://docs.opal.dev/reference/end-system-objects) for details about importing resources.
      operationId: createResource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateResourceInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
          description: The resource just created.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: Resource#create
  /resources/{resource_id}:
    get:
      description: Retrieves a resource.
      operationId: getResourceID
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          description: The requested resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: Resource#get
    delete:
      description: Deletes a resource.
      operationId: deleteResource
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          description: The resource was successfully deleted.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: delete
      x-speakeasy-entity-operation: Resource#delete
  /resources/{resource_id}/message-channels:
    get:
      description: Gets the list of audit message channels attached to a resource.
      operationId: getResourceMessageChannels
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannelList"
          description: The audit message channels attached to the resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_message_channels
      x-speakeasy-entity-operation: ResourceMessageChannelList#get
    put:
      description: Sets the list of audit message channels attached to a resource.
      operationId: updateResourceMessageChannels
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageChannelIDList"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated audit message channel IDs for the resource.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: update_message_channels
      x-speakeasy-entity-operation: ResourceMessageChannels#update
  /resources/{resource_id}/visibility:
    get:
      description: Gets the visibility of this resource.
      operationId: getResourceVisibility
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_visibility
      x-speakeasy-entity-operation: ResourceVisibility#get
    put:
      description: Sets the visibility of this resource.
      operationId: updateResourceVisibility
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisibilityInfo"
      responses:
        "200":
          content:
            application/json:
              x-speakeasy-ignore: true
          description: The visibility info of this resource.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: update_visibility
      x-speakeasy-entity-operation:
        - Resource#create#3
        - Resource#update#2
  /resources/{resource_id}/reviewers:
    get:
      description: Gets the list of owner IDs of the reviewers for a resource.
      operationId: getResourceReviewers
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
                x-speakeasy-entity: ResourceReviewersList
          description: The IDs of owners that are reviewers for this resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_reviewers
      x-speakeasy-entity-operation: ResourceReviewersList#get
    put:
      description: Sets the list of reviewers for a resource.
      operationId: updateResourceReviewers
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerIDList"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
                x-speakeasy-entity: ResourceReviewerList
          description: The updated IDs of owners that are reviewers for this resource
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: update_reviewers
      x-speakeasy-entity-operation: ResourceReviewerList#update
  /resources/{resource_id}/reviewer-stages:
    get:
      description: Gets the list reviewer stages for a resource.
      operationId: getResourceReviewerStages
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
                x-speakeasy-entity: ResourceReviewersStagesList
          description: The reviewer stages for this resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-ignore: true
    put:
      description: Sets the list of reviewer stages for a resource.
      operationId: updateResourceReviewerStages
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerStageList"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
                x-speakeasy-entity: ResourcesReviewersStagesList
          description: The updated reviewer stages for this resource.
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-ignore: true
  /non-human-identities:
    get:
      description: Returns a list of non-human identities for your organization.
      operationId: get_nhis
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResourcesList"
          description: One page worth non-human identities in your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - non-human-identities
  /resources/{resource_id}/non-human-identities:
    get:
      description: Gets the list of non-human identities with access to this resource.
      operationId: get_resource_nhis
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Limit the number of results returned.
          example: 200
          explode: true
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessList"
          description: List of non-human identities with access to this resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
  /resources/{resource_id}/users:
    get:
      description: Gets the list of users for this resource.
      operationId: getResourceUsers
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Limit the number of results returned.
          example: 200
          explode: true
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceAccessUserList"
          description: List of users with access to this resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_users
      x-speakeasy-entity-operation: ResourcesUsers_list#get
  /resources/{resource_id}/non-human-identities/{non_human_identity_id}:
    post:
      description: Gives a non-human identity access to this resource.
      operationId: add_resource_nhi
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The resource ID of the non-human identity to add.
          example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
          explode: false
          in: path
          name: non_human_identity_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                duration_minutes: 60
                access_level_remote_id: roles/cloudsql.instanceUser
              properties:
                duration_minutes:
                  description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                  maximum: 525960 # One year
                access_level_remote_id:
                  description: The remote ID of the access level to grant. If omitted, the default access level remote ID value (empty string) is used.
                  example: roles/cloudsql.instanceUser
                  type: string
              required:
                - duration_minutes
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNHI"
          description: Details about the access that the non-human identity was granted to the resource.
      security:
        - BearerAuth: []
      tags:
        - resources
    delete:
      description: Removes a non-human identity's direct access from this resource.
      operationId: delete_resource_nhi
      parameters:
        - description: The ID of the resource.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The resource ID of the non-human identity to remove from this resource.
          example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
          explode: false
          in: path
          name: non_human_identity_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The remote ID of the access level for which this non-human identity has direct access. If omitted, the default access level remote ID value (empty string) is assumed.
          example: roles/cloudsql.instanceUser
          explode: true
          in: query
          name: access_level_remote_id
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          description: This non-human identity's access was successfully removed from this resource.
      security:
        - BearerAuth: []
      tags:
        - resources
  /resource-user-access-status/{resource_id}/{user_id}:
    get:
      description: Get user's access status to a resource.
      operationId: getResourceUserAccessStatus
      parameters:
        - description: The ID of the resource.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the user.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The remote ID of the access level that you wish to query for the resource. If omitted, the default access level remote ID value (empty string) is used.
          example: arn:aws:iam::590304332660:role/AdministratorAccess
          explode: true
          in: query
          name: access_level_remote_id
          required: false
          schema:
            type: string
          style: form
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceUserAccessStatus"
          description: The access status reflecting the user's access to the resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_access_status
      x-speakeasy-entity-operation: ResourcesAccessStatus#get
  /resources/{resource_id}/tags:
    get:
      description: Returns all tags applied to the resource.
      operationId: getResourceTags
      parameters:
        - description: The ID of the resource whose tags to return.
          name: resource_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsList"
          description: The tags applied to the resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - resources
      x-speakeasy-name-override: get_tags
      x-speakeasy-entity-operation: ResourceTags#get
  /sessions:
    get:
      description: Returns a list of `Session` objects.
      operationId: getSessions
      parameters:
        - description: The ID of the resource.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: true
          in: query
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: form
        - description: The ID of the user you wish to query sessions for.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: query
          name: user_id
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsList"
          description: The sessions associated with a resource.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - sessions
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: Sessions#get
  /user:
    get:
      description: Returns a `User` object.
      operationId: getUser
      parameters:
        - description: The user ID of the user.
          example: 32acc112-21ff-4669-91c2-21e27683eaa1
          explode: true
          in: query
          name: user_id
          required: false
          schema:
            format: uuid
            type: string
          style: form
          x-speakeasy-name-override: id
        - description: The email of the user. If both user ID and email are provided, user ID will take precedence. If neither are provided, an error will occur.
          example: johndoe@domain.org
          explode: true
          in: query
          name: email
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: The user object associated with the passed-in email or ID.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - users
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: User#get
  /users:
    get:
      description: Returns a list of users for your organization.
      operationId: getUsers
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUsersList"
          description: One page worth users in your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - users
      x-speakeasy-name-override: get_users
      x-speakeasy-entity-operation: Users#get
  /users/{user_id}/tags:
    get:
      description: Returns all tags applied to the user.
      operationId: getUserTags
      parameters:
        - description: The ID of the user whose tags to return.
          name: user_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsList"
          description: The tags applied to the user.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - users
      x-speakeasy-name-override: get_user_tags
      x-speakeasy-entity-operation: UserTags#get
  /tag/{tag_id}:
    get:
      description: UNSTABLE. May be removed at any time. Gets a tag with the given id.
      operationId: get_tag_by_ID
      parameters:
        - description: The tag ID
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: tag_id
          required: true
          schema:
            type: string
            format: uuid
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: The tag requested.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-entity-operation: Tag#read
    delete:
      description: UNSTABLE. May be removed at any time. Deletes a tag with the given id.
      operationId: delete_tag_by_ID
      parameters:
        - description: The tag ID
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: tag_id
          required: true
          schema:
            type: string
            format: uuid
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          description: Tag was deleted.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-entity-operation: Tag#delete
  /tag:
    post:
      description: Creates a tag with the given key and value.
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTagInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: The tag that was created.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-entity-operation: Tag#create
  /tags:
    get:
      description: Returns a list of tags created by your organization.
      operationId: getTags
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTagsList"
          description: A list of tags created by your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: get_tags
      x-speakeasy-entity-operation: Tags_list#get
  /tags/{tag_id}/users/{user_id}:
    post:
      description: Applies a tag to a user.
      operationId: createUserTag
      parameters:
        - description: The ID of the tag to apply.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the user to apply the tag to.
          name: user_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag applied to user successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: create_user
      x-speakeasy-entity-operation: TagUser#create
    delete:
      description: Removes a tag from a user.
      operationId: deleteUserTag
      parameters:
        - description: The ID of the tag to remove.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the user to remove the tag from.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag removed from user successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: delete
      x-speakeasy-entity-operation: TagUser#delete
  /tags/{tag_id}/groups/{group_id}:
    post:
      description: Applies a tag to a group.
      operationId: createGroupTag
      parameters:
        - description: The ID of the tag to apply.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the group to apply the tag to.
          name: group_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag applied to group successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: create_group
      x-speakeasy-entity-operation: GroupTag#create
    delete:
      description: Removes a tag from a group.
      operationId: deleteGroupTag
      parameters:
        - description: The ID of the tag to remove.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the group to remove the tag from.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag removed from group successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: delete_group
      x-speakeasy-entity-operation: GroupTag#delete
  /tags/{tag_id}/resources/{resource_id}:
    post:
      description: Applies a tag to a resource.
      operationId: createResourceTag
      parameters:
        - description: The ID of the tag to apply.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the resource to apply the tag to.
          name: resource_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag applied to resource successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: create_resource
      x-speakeasy-entity-operation: ResourceTag#create
    delete:
      description: Removes a tag from a resource.
      operationId: deleteResourceTag
      parameters:
        - description: The ID of the tag to remove.
          name: tag_id
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The ID of the resource to remove the tag from.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          explode: false
          in: path
          name: resource_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          description: Tag removed from resource successfully.
      security:
        - BearerAuth: []
      tags:
        - tags
      x-speakeasy-name-override: delete_resource
      x-speakeasy-entity-operation: ResourceTag#delete
  /message-channels:
    get:
      description: Returns a list of `MessageChannel` objects.
      operationId: getMessageChannels
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannelList"
          description: A list of message channels for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - message-channels
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: MessageChannelList#get
    post:
      description: Creates a `MessageChannel` objects.
      operationId: createMessageChannel
      requestBody:
        description: The `MessageChannel` object to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageChannelInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannel"
          description: The message channel that was created.
      security:
        - BearerAuth: []
      tags:
        - message-channels
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: MessageChannel#create
  /message-channels/{message_channel_id}:
    get:
      description: Gets a `MessageChannel` object.
      operationId: getMessageChannelID
      parameters:
        - description: The ID of the message_channel.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: message_channel_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannel"
          description: The requested message channel.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - message-channels
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: MessageChannel#get
  /on-call-schedules:
    get:
      description: Returns a list of `OnCallSchedule` objects.
      operationId: getOnCallSchedule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnCallScheduleList"
          description: A list of on call schedules for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - on-call-schedules
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: OnCallSchedule_list#get
    post:
      description: Creates a `OnCallSchedule` objects.
      operationId: createOnCallSchedule
      requestBody:
        description: The `OnCallSchedule` object to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOnCallScheduleInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnCallSchedule"
          description: The on call schedule that was created.
      security:
        - BearerAuth: []
      tags:
        - on-call-schedules
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: OnCallSchedule#create
  /on-call-schedules/{on_call_schedule_id}:
    get:
      description: Gets a `OnCallSchedule` object.
      operationId: getOnCallScheduleID
      parameters:
        - description: The ID of the on_call_schedule.
          example: 9546209c-42c2-4801-96d7-9ec42df0f59c
          explode: false
          in: path
          name: on_call_schedule_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
          x-speakeasy-name-override: id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnCallSchedule"
          description: The requested on call schedule.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - on-call-schedules
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: OnCallSchedule#get
  /uars:
    get:
      description: Returns a list of `UAR` objects.
      operationId: getUARs
      parameters:
        - description: The pagination cursor value.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
        - description: Number of results to return per page. Default is 200.
          example: 200
          explode: true
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            maximum: 1000
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUARsList"
          description: A list of UARs for your organization.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - uars
      x-speakeasy-name-override: get
      x-speakeasy-entity-operation: UARS_list#get
  /uar:
    post:
      description: Starts a User Access Review.
      operationId: createUAR
      requestBody:
        description: The settings of the UAR.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUARInfo"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UAR"
          description: The UAR that was started.
      security:
        - BearerAuth: []
      tags:
        - uars
      x-speakeasy-name-override: create
  /uar/{uar_id}:
    get:
      description: Retrieves a specific UAR.
      operationId: getUARID
      parameters:
        - description: The ID of the UAR.
          example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
          explode: false
          in: path
          name: uar_id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UAR"
          description: The UAR that was requested.
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      tags:
        - uars
      x-speakeasy-name-override: get_id
      x-speakeasy-entity-operation: UAR#get
components:
  schemas:
    UARScope:
      description: If set, the access review will only contain resources and groups that match at least one of the filters in scope.
      example:
        filter_operator: ANY
        users:
          - userd283-ca87-4a8a-bdbb-df212eca5353
        include_group_bindings: True
        tags:
          - key: uar_scope
            value: high_priority
        names:
          - demo
          - api
        admins:
          - f454d283-ca87-4a8a-bdbb-df212eca5353
          - 8763d283-ca87-4a8a-bdbb-df212ecab139
        resource_types:
          - GCP_CLOUD_SQL_POSTGRES_INSTANCE
        group_types:
          - AWS_SSO_GROUP
        apps:
          - pas2d283-ca87-4a8a-bdbb-df212eca5353
          - apss2d283-ca87-4a8a-bdbb-df212eca5353
        entities:
          - f454d283-as87-4a8a-bdbb-df212eca5353
          - f454d283-as87-4a8a-bdbb-df212eca5329
      properties:
        group_visibility:
          description: Specifies what users can see during an Access Review
          type: string
          enum: [STRICT, VIEW_VISIBLE_AND_ASSIGNED, VIEW_ALL]
        users:
          description: The access review will only include the following users. If any users are selected, any entity filters will be applied to only the entities that the selected users have access to.
          items:
            example: userd283-ca87-4a8a-bdbb-df212eca5353
            type: string
            format: uuid
          type: array
        filter_operator:
          description: Specifies whether entities must match all (AND) or any (OR) of the filters.
          type: string
          enum: [ANY, ALL]
        entities:
          description: This access review will include resources and groups with ids in the given strings.
          items:
            example: f454d283-as87-4a8a-bdbb-df212eca5353
            type: string
            format: uuid
          type: array
        apps:
          description: This access review will include items in the specified applications
          items:
            example: pas2d283-ca87-4a8a-bdbb-df212eca5353
            type: string
            format: uuid
          type: array
        admins:
          description: This access review will include resources and groups who are owned by one of the owners corresponding to the given IDs.
          items:
            example: f454d283-ca87-4a8a-bdbb-df212eca5353
            type: string
            format: uuid
          type: array
        group_types:
          description: This access review will include items of the specified group types
          type: array
          items:
            $ref: "#/components/schemas/GroupTypeEnum"
        resource_types:
          description: This access review will include items of the specified resource types
          type: array
          items:
            $ref: "#/components/schemas/ResourceTypeEnum"
        include_group_bindings:
          type: boolean
          example: False
        tags:
          description: This access review will include resources and groups who are tagged with one of the given tags.
          items:
            $ref: "#/components/schemas/TagFilter"
          type: array
        names:
          description: This access review will include resources and groups whose name contains one of the given strings.
          items:
            example: demo
            type: string
          type: array
      type: object
    PaginatedUARsList:
      description: A list of UARs.
      example:
        next: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        previous: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
        results:
          - uar_id: f454d283-ca87-4a8a-bdbb-df212eca5353
            name: Monthly UAR (July)
            send_reviewer_assignment_notification: False
            deadline: 2022-07-14T06:59:59Z
            time_zone: America/Los_Angeles
            self_review_allowed: False
            uar_scope:
              tags:
                - key: uar_scope
                  value: high_priority
              names:
                - demo
                - api
              admins:
                - f454d283-ca87-4a8a-bdbb-df212eca5353
                - 8763d283-ca87-4a8a-bdbb-df212ecab139
          - uar_id: 39a4d283-ca87-4a8a-bdbb-df212eca5fdb
            name: Monthly UAR (August)
            send_reviewer_assignment_notification: True
            deadline: 2022-08-14T06:59:59Z
            time_zone: America/Los_Angeles
            self_review_allowed: False
            uar_scope:
              tags:
                - key: uar_scope
                  value: high_priority
              names:
                - demo
                - api
              admins:
                - f454d283-ca87-4a8a-bdbb-df212eca5353
                - 8763d283-ca87-4a8a-bdbb-df212ecab139
      properties:
        next:
          description: The cursor with which to continue pagination if additional result pages exist.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          nullable: true
          type: string
        previous:
          description: The cursor used to obtain the current result page.
          example: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
          nullable: true
          type: string
        results:
          items:
            $ref: "#/components/schemas/UAR"
          type: array
      required:
        - results
      type: object
      x-speakeasy-entity: UARS_list
    UAR:
      description: A user access review.
      example:
        uar_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        name: Monthly UAR (July)
        send_reviewer_assignment_notification: False
        deadline: 2022-07-14T06:59:59Z
        time_zone: America/Los_Angeles
        self_review_allowed: False
        uar_scope:
          tags:
            - key: uar_scope
              value: high_priority
          names:
            - demo
            - api
          admins:
            - f454d283-ca87-4a8a-bdbb-df212eca5353
            - 8763d283-ca87-4a8a-bdbb-df212ecab139
      properties:
        uar_id:
          description: The ID of the UAR.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        name:
          description: The name of the UAR.
          example: Monthly UAR (July)
          type: string
        reviewer_assignment_policy:
          $ref: "#/components/schemas/UARReviewerAssignmentPolicyEnum"
        send_reviewer_assignment_notification:
          description: A bool representing whether to send a notification to reviewers when they're assigned a new review. Default is False.
          example: False
          type: boolean
        deadline:
          description: The last day for reviewers to complete their access reviews.
          example: 2022-07-14T06:59:59Z
          type: string
          format: date-time
        time_zone:
          description: The time zone name (as defined by the IANA Time Zone database) used in the access review deadline and exported audit report. Default is America/Los_Angeles.
          example: America/Los_Angeles
          type: string
        self_review_allowed:
          description: A bool representing whether to present a warning when a user is the only reviewer for themself. Default is False.
          example: False
          type: boolean
        uar_scope:
          $ref: "#/components/schemas/UARScope"
      required:
        - uar_id
        - name
        - deadline
        - reviewer_assignment_policy
        - send_reviewer_assignment_notification
        - time_zone
        - self_review_allowed
      type: object
      x-speakeasy-entity: UAR
    CreateUARInfo:
      description: Information needed to start a user access review.
      example:
        name: Monthly UAR (July)
        send_reviewer_assignment_notification: False
        deadline: 2022-07-14T06:59:59Z
        time_zone: America/Los_Angeles
        self_review_allowed: False
        reminder_schedule: [7, 3, 1, 0]
        reminder_include_manager: True
        uar_scope:
          group_visibility: STRICT
          tags:
            - key: uar_scope
              value: high_priority
          names:
            - demo
            - api
          admins:
            - f454d283-ca87-4a8a-bdbb-df212eca5353
            - 8763d283-ca87-4a8a-bdbb-df212ecab139
      properties:
        name:
          description: The name of the UAR.
          example: Monthly UAR (July)
          type: string
        reviewer_assignment_policy:
          $ref: "#/components/schemas/UARReviewerAssignmentPolicyEnum"
        send_reviewer_assignment_notification:
          description: A bool representing whether to send a notification to reviewers when they're assigned a new review. Default is False.
          example: False
          type: boolean
        deadline:
          description: The last day for reviewers to complete their access reviews.
          example: 2022-07-14T06:59:59Z
          type: string
          format: date-time
        time_zone:
          description: The time zone name (as defined by the IANA Time Zone database) used in the access review deadline and exported audit report. Default is America/Los_Angeles.
          example: America/Los_Angeles
          type: string
        self_review_allowed:
[...]
