---
page_title: "Authenticating with your Opal instance"
subcategory: "Authentication"
---

# Authentication
Opal administrators can generate new API tokens in the Admin view. See [this guide](https://docs.opal.dev/reference/authentication) for more details.

For on-prem installations, you will also need to specify the base URL of your on-prem installation.

{{ tffile "examples/auth/provider.tf" }}
