---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/resource.tf" }}

## Remote Resources
Remote resources can be managed using the `remote_info` attribute. See the examples below:

{{ tffile "examples/resources/remote_resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

Please [file a ticket](https://github.com/opalsecurity/terraform-provider-opal/issues) to discuss use cases that are not yet supported in the provider.
