---
page_title: "Opal Provider"
description: |-
  The Opal provider provides resources for managing Opal owners, resources, and groups.
---

# Opal Provider

The Opal provider provides resources for managing Opal owners, resources, and groups.

## Example Usage

{{ tffile "examples/basic/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
